body {
    margin: 0;
}
.contenedor-casa {
    height: 100vh;
    width: 100%;
}
.principal {
    width: 200px;
    height: 200px;
    background-color: gray;
    position: absolute;
    left: 200px;
    top: 200px;
}
.techo {
    width:0; 
    height:0; 
    border-left:100px solid transparent; border-right:100px solid transparent; border-bottom:200px solid red;
    position: absolute;
    left: 200px;
}
.puerta {
    width: 50px;
    height: 80px;
    background-color: brown;
    position: absolute;
    top: 320px;
    left: 270px;
}
.ventana {
    width: 50px;
    height: 50px;
    background-color: lightblue;
    position: absolute;
    top: 230px;
    left: 230px;;
}
.chimenea {
    width: 50px;
    height: 80px;
    background-color: lightcoral;
    position: absolute;
    top: 120px;
    left: 210px;
    z-index: -1;
}
